* {
  box-sizing: border-box;
}
.menu{
  margin-top: 10%;
}
.menu-label{
  font-size: medium;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 10%;
}

.flex-item-right {
  text-align: left;
  padding: 20px;
  flex: 80%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}



.box {
    -webkit-box-shadow: 10px 10px 5px -4px rgba(201,201,201,0.88);
    -moz-box-shadow: 10px 10px 5px -4px rgba(201,201,201,0.88);
    box-shadow: 10px 10px 5px -4px rgba(201,201,201,0.88);
    min-height: 40px;
    margin: 8px;
}

.info {
  background-color: #78b9eb;
}

.success {
  background-color: #5ed18c;
}

.error {
  background-color: #ffa8b4;
}

.warning {
  background-color: #ffe4a6;
}

/* .title {
  font-family: Georgia, serif;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: italic;
} */

.msg {
  margin-top: 4px;
  margin-bottom: 10px;
}


.options a
{
    display: block;
    width: 200px;
    height: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 5px;
    font-size: 18px;
}

.options li
{
    list-style: none;
}

.selected {
    border-style: solid;
    border-width: 2px;
}
